---
- name: PVC for image registry
  community.okd.k8s:
    state: present
    validate_certs: no
    kubeconfig: "auth/{{ sno_cluster_name }}-kubeconfig"
    definition:
      apiVersion: v1
      kind: PersistentVolumeClaim
      metadata:
        name: image-registry-pvc
        namespace: openshift-image-registry
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: 100Gi


- name: Patch Registry Operator CRD  - managed state
  kubernetes.core.k8s_json_patch:
    api_version: imageregistry.operator.openshift.io/v1
    kind: Config
    name: cluster
    kubeconfig: "auth/{{ sno_cluster_name }}-kubeconfig"
    patch:
      - op: replace
        path: /spec/managementState
        value: "Managed"
   
- name: Patch Registry Operator CRD  - rollout strategy and replicas
  kubernetes.core.k8s_json_patch:
    api_version: imageregistry.operator.openshift.io/v1
    kind: Config
    name: cluster
    kubeconfig: "auth/{{ sno_cluster_name }}-kubeconfig"
    patch:
      - op: replace
        path: /spec/rolloutStrategy
        value: "Recreate"
      - op: replace
        path: /spec/replicas
        value: 1

- name: Patch Registry Operator CRD  - storage
  kubernetes.core.k8s_json_patch:
    api_version: imageregistry.operator.openshift.io/v1
    kind: Config
    name: cluster
    kubeconfig: "auth/{{ sno_cluster_name }}-kubeconfig"
    patch:
      - op: replace
        path: /spec/storage
        value: 
          pvc:
            claim: "image-registry-pvc"

- name: Patch Registry Operator CRD  - expose route 
  kubernetes.core.k8s_json_patch:
    api_version: imageregistry.operator.openshift.io/v1
    kind: Config
    name: cluster
    kubeconfig: "auth/{{ sno_cluster_name }}-kubeconfig"
    patch:
      - op: replace
        path: /spec/defaultRoute
        value: true

- name: Get registry endpoint
  k8s_info:
    api_version: route.openshift.io/v1
    kind: Route
    name:  default-route
    namespace: openshift-image-registry
    validate_certs: no
    kubeconfig: "auth/{{ sno_cluster_name }}-kubeconfig"
  register: registry_route

- name: Print Registry route hostname
  debug:
    msg: "Internal Registry URL is https://{{ registry_route.resources[0].spec.host }}"
