apiVersion: v1
kind: Pod
metadata:
  labels:
    app: assisted-installer
  name: assisted-installer
spec:
  containers:
  - args:
    - run-postgresql
{% if sno_install_is_airgapped %}
    image: snoutil.{{ sno_domain_name }}:8443/centos7/postgresql-12-centos7:latest
{% else %}
    image: quay.io/centos7/postgresql-12-centos7:latest
{% endif %}
    envFrom:
    - configMapRef:
        name: config
{% if sno_install_is_airgapped %}
  - image: snoutil.{{ sno_domain_name }}:8443/edge-infrastructure/assisted-installer-ui:latest
{% else %}
 - image: quay.io/edge-infrastructure/assisted-installer-ui:latest
 {% endif %}
    name: ui
    ports:
    - hostPort: 8080
    envFrom:
    - configMapRef:
        name: config
{% if sno_install_is_airgapped %}
  - image: snoutil.{{ sno_domain_name }}:8443/edge-infrastructure/assisted-image-service:latest
{% else %}
  - image: quay.io/edge-infrastructure/assisted-image-service:latest
{% endif %}
    name: image-service
{% if sno_install_is_airgapped %}
    command: ["/bin/bash"]
    args: ["-c","echo -e ${MIRROR_CA_CERT} > /etc/pki/ca-trust/source/anchors/snoutil.{{ sno_domain_name }}.ca.crt; update-ca-trust; /assisted-imge-service"]
{% endif %}
   
    ports:
    - hostPort: 8888
    envFrom:
    - configMapRef:
        name: config
{% if sno_install_is_airgapped %}
  - image: snoutil.{{ sno_domain_name }}:8443/edge-infrastructure/assisted-service:latest
{% else %}
  - image: quay.io/edge-infrastructure/assisted-image-service:latest
{% endif %}
    name: service
{% if sno_install_is_airgapped %}
    command: ["/bin/bash"]
    args: ["-c","echo -e ${REGISTRIES_CONF} > /etc/containers/registries.conf; echo -e ${MIRROR_CA_CERT} > /etc/pki/ca-trust/source/anchors/snoutil.{{ sno_domain_name }}.ca.crt; update-ca-trust; /assisted-service"]
{% endif %}
    ports:
    - hostPort: 8090 
    envFrom:
    - configMapRef:
        name: config
  restartPolicy: Never
