---
- name: Check if ca key exists
  stat:
    path: "certs/ca/ca.key"
  register: ca_key_file


- name: Check if ca cert exists
  stat:
    path: "certs/ca/ca.crt"
  register: ca_crt_file 

- name: Create the CA private key and certificate
  shell:
    cmd: openssl req -nodes -new -x509 -days 1825 -extensions v3_ca -keyout certs/ca/ca.key -out certs/ca/ca.crt -subj "/C=US/ST=Texas/L=Austin/O=IBM/OU=Build Labs/CN=MirrorRootCert"
  register: ca_crt
  when: not ca_crt_file.stat.exists or not ca_key_file.stat.exists

- name: Check if mirror server key exists
  stat:
    path: "certs/mirror/{{ sno_domain_name}}.key"
  register: mirror_key_file

- name: Create mirror server private key
  openssl_privatekey:
    path: "certs/mirror/{{ sno_domain_name}}.key"
  register: mirror_key
  when: not mirror_key_file.stat.exists

- name: Check if mirror csr exists
  stat:
    path: "certs/mirror/{{ sno_domain_name }}.csr"
  register: mirror_csr_file 

- name: create the CA CSR
  openssl_csr:
    path: "certs/mirror/{{ sno_domain_name  }}.csr"
    privatekey_path: "{{ mirror_key.filename }}"
    common_name: "snoutil.{{ sno_domain_name }}"
    country_name: US
    use_common_name_for_san: yes
    organization_name: IBM
    organizational_unit_name: "Build Labs"
    email_address: carew@us.ibm.com
    locality_name: Austin
    state_or_province_name: Texas
  register: mirror_csr
  when: not mirror_csr_file.stat.exists

- name: Check if ca cert exists
  stat:
    path: "certs/mirror/{{ sno_domain_name }}.crt"
  register: mirror_crt_file 

- name: Sign the mirror CSR
  openssl_certificate:
    path: "certs/mirror/{{ sno_domain_name }}.crt"
    csr_path: "{{ mirror_csr.filename }}"
    provider: ownca
    ownca_path: "certs/ca/ca.crt"
    ownca_privatekey_path: "certs/ca/ca.key"
  register: mirror_crt
  when: not mirror_crt_file.stat.exists

