---
- name: Assisted installer images dir
  file:
    path: mirrored-images/ai
    state: directory

- name: Install images dir
  file:
    path: "mirrored-images/{{ sno_release }}/install"
    state: directory
    recurse: yes

- name: Operator images dir
  file:
    path: "mirrored-images/{{ sno_release }}/olm"
    state: directory
    recurse: yes

- name: Mirror assisted installer images to local disk
  shell: |
    skopeo copy docker://quay.io/centos7/postgresql-12-centos7:centos7 dir:$(pwd)/postgresql
    skopeo copy docker://quay.io/edge-infrastructure/assisted-installer-ui:{{ ai_image_tag }} dir:$(pwd)/assisted-installer-ui 
    skopeo copy docker://quay.io/edge-infrastructure/assisted-installer:{{ ai_image_tag }} dir:$(pwd)/assisted-installer 
    skopeo copy docker://quay.io/edge-infrastructure/assisted-installer-controller:{{ ai_image_tag }} dir:$(pwd)/assisted-installer-controller 
    skopeo copy docker://quay.io/edge-infrastructure/assisted-installer-agent:{{ ai_image_tag }} dir:$(pwd)/assisted-installer-agent 
    skopeo copy docker://quay.io/edge-infrastructure/assisted-service:{{ ai_image_tag }} dir:$(pwd)/assisted-service 
    skopeo copy docker://quay.io/edge-infrastructure/assisted-image-service:{{ ai_image_tag }} dir:$(pwd)/assisted-image-service 
    skopeo copy docker://k8.gcr.io/pause:3.5 dir:$(pwd)/pause
  args: 
    chdir: mirrored-images/ai

- name: Mirror OpenShift install images to local disk 
  shell:
    chdir: mirrored-images
    cmd: oc adm release mirror -a ../auth/pull-secret.txt --to-dir=$(pwd)/{{ sno_release }}/install quay.io/openshift-release-dev/ocp-release:{{ sno_release }}-x86_64

- name: Log into registry.redhat.io
  shell:
    cmd: podman login --username {{ rhreg_username }} --password {{ rhreg_password }} registry.redhat.io

- name: Clean up pruned image from previous run
  podman_image:
    name: "local/redhat-operator-index:v{{ sno_version }}"
    state: absent

- name: Clean up operator index image from previous run
  podman_image:
    name: "registry.redhat.io/redhat/redhat-operator-index:v{{ sno_version }}"
    state: absent
 
- name: Prune registry 
  shell:
    cmd: opm index prune -f registry.redhat.io/redhat/redhat-operator-index:v{{ sno_version }} -p {{ sno_operator_list }} -t local/redhat-operator-index:v{{ sno_version }} 

- name: Delete local  registry if it exists
  shell: 
    chdir: mirror-registry
    cmd: ./mirror-registry uninstall --autoApprove true  > /dev/null 2>&1
  become: yes
  ignore_errors: yes

- name: Create temporary local  registry 
  shell:
    chdir: mirror-registry
    cmd: ./mirror-registry install --quayHostname $(hostname) --initUser init --initPassword "{{ mirror_registry_password }}"
  become: yes
  register: create_local_registry

- name: Debug output from registry create task
  debug:
    var: create_local_registry.stdout_lines

- name: Local reg credentials
  set_fact:
    local_reg_creds: "{{ 'init:' + mirror_registry_password }}"
   
- name: Encoded local reg credentials
  set_fact:
    encoded_reg_creds: "{{ local_reg_creds | b64encode }}"

- name: Add  local credentials to pull secret
  shell:
    chdir: auth
    creates: auth/pull-secret-combined.json
    cmd: cat pull-secret.txt | jq   ".auths += {\"$(hostname):8443\":{\"auth\":\"{{ encoded_reg_creds }}\"}}" > pull-secret-combined.json

- name: Push pruned index to mirror registry 
  shell:
    cmd: podman push local/redhat-operator-index:v{{ sno_version }}  docker://$(hostname):8443/olm-mirror/redhat-operator-index:v{{ sno_version }} --tls-verify=false --authfile=auth/pull-secret-combined.json

- name: Mirror operator images to local filesystem
  shell: 
    chdir: "mirrored-images/{{ sno_release }}/olm"
    cmd: oc adm catalog mirror $(hostname):8443/olm-mirror/redhat-operator-index:v{{ sno_version }} file:///local/index --insecure -a auth/pull-secret-combined.json


# - name: Delete local  registry
#   shell: 
#     chdir: mirror-registry
#     cmd: ./mirror-registry uninstall --autoApprove true  > /dev/null 2>&1
#   become: yes

- name: Find leftover workfile dirs
  find:
    paths: "{{ playbook_dir }}"
    patterns: "manifests-redhat-operator-index-*,index_temp_*"
    use_regex: true
    file_type: directory
  register: folders_to_delete

- name: Deleting the directories...
  file:
    path: "{{ item.path }}"
    state: absent
  with_items: "{{ folders_to_delete.files }}"
  become: yes
