---
- name: Stop if already running
  command: podman play kube --down pod.yml > /dev/null 2>&1
  args:
    chdir: assisted-installer
  ignore_errors: yes


- name: Airgapped is configured 
  block:
    - name: Copy images to mirror registry
      shell: |
        skopeo copy --dest-creds "init:{{ mirror_registry_password }}" dir:$(pwd)/postgresql docker://{{ sno_local_registry }}/centos7/postgresql-12-centos7:latest
        skopeo copy --dest-creds "init:{{ mirror_registry_password }}" dir:$(pwd)/assisted-installer-ui docker://{{ sno_local_registry }}/edge-infrastructure/assisted-installer-ui:{{ ai_image_tag }}
        skopeo copy --dest-creds "init:{{ mirror_registry_password }}" dir:$(pwd)/assisted-installer docker://{{ sno_local_registry }}/edge-infrastructure/assisted-installer:{{ ai_image_tag }}
        skopeo copy --dest-creds "init:{{ mirror_registry_password }}" dir:$(pwd)/assisted-installer-controller docker://{{ sno_local_registry }}/edge-infrastructure/assisted-installer-controller:{{ ai_image_tag }}
        skopeo copy --dest-creds "init:{{ mirror_registry_password }}" dir:$(pwd)/assisted-installer-agent docker://{{ sno_local_registry }}/edge-infrastructure/assisted-installer-agent:{{ ai_image_tag }}
        skopeo copy --dest-creds "init:{{ mirror_registry_password }}" dir:$(pwd)/assisted-service docker://{{ sno_local_registry }}/edge-infrastructure/assisted-service:{{ ai_image_tag }}
        skopeo copy --dest-creds "init:{{ mirror_registry_password }}" dir:$(pwd)/assisted-image-service docker://{{ sno_local_registry }}/edge-infrastructure/assisted-image-service:{{ ai_image_tag }}
        skopeo copy --dest-creds "init:{{ mirror_registry_password }}" dir:$(pwd)/pause docker://{{ sno_local_registry }}/pause:3.5
      args:
        chdir: "mirrored-images/ai"

    - name: Setup registries.conf for SNO VM
      template:
        src: registries.conf.j2
        dest: assisted-installer/registries.conf

    - name: Convert to string 
      set_fact:
        registries_conf: "{{ lookup('file','assisted-installer/registries.conf') | replace('\n','\\n') }}"


    - name: Convert mirror ca cert to string
      set_fact: 
         mirror_ca_cert: "{{ lookup('file', 'certs/ca/quayCA.crt') | replace('\n','\\n') }}"

    - name: Map references to k8s.gcr.io to local reg 
      blockinfile:
        path: "/etc/containers/registries.conf"
        state: present
        block: |
          [[registry]]
          prefix = ""
          location = "k8s.gcr.io/pause"
          mirror-by-digest-only = false
 
          [[registry.mirror]]
          location = "{{ sno_util_hostname }}:8443/pause"
      become: yes
      
  when: sno_install_is_airgapped


- name: Setup configmap.yml file
  template: 
    src: configmap.j2
    dest: assisted-installer/configmap.yml

- name: Setup pod.yml file
  template:
    src: pod.j2
    dest: assisted-installer/pod.yml

- name: Start the assisted installer
  command: podman play kube  --creds "init:{{ mirror_registry_password }}" --configmap configmap.yml pod.yml 
  args:
    chdir: assisted-installer