dns-resolver:\n  config:\n    server:\n    - {{ sno_dns_ip }}\ninterfaces:\n- name: {{ sno_interface }}\n  ipv4:\n    address:\n    - ip: {{ sno_ip_address }}\n      prefix-length: {{ sno_prefix_length }}\n    dhcp: false\n    enabled: true\n  state: up\n  type: ethernet\nroutes:\n  config:\n  - destination: 0.0.0.0/0\n    next-hop-address: {{ sno_gateway_ip }}\n    next-hop-interface: {{ sno_interface }}\n    table-id: 254
