---
- name: Mirror registry creds
  set_fact:
    unencoded_creds: "init:{{ mirror_registry_password }}"

- name: Mirror registry encoded creds
  set_fact:
    encoded_creds: "{{ unencoded_creds | b64encode }}"

- name: Create pull secret for mirror registry
  template:
    src: pull-secret-airgapped.json.j2
    dest: auth/pull-secret-airgapped.txt
    force: yes

- name: Check if registry is already running 
  shell: 
    chdir: mirror-registry
    cmd: netstat -tulpn | grep LISTEN | grep "0.0.0.0:8443"
  become: yes
  register: registry_run_status
  failed_when: "registry_run_status.rc == 2"
  ignore_errors: yes

- name: Install local mirror registry
  shell: 
    chdir: mirror-registry
    cmd: ./mirror-registry install --quayHost $(hostname) --initPassword {{ mirror_registry_password }}
  become: yes
  register: mirror_registry_install
  when: registry_run_status.rc == 1

- name: Fix quay modifications to /etc/hosts
  lineinfile:
    path: /etc/hosts
    state: absent
    regexp: "^127*{{ sno_util_hostname }}"

- name: Copy CA file to local OS
  copy:
    dest: "/usr/local/share/ca-certificates/quayCA.crt"
    src: "/etc/quay-install/quay-rootCA/rootCA.pem"
  delegate_to: localhost
  become: yes
  register: copy_quay_ca

- name: Copy CA to local certs
  copy:
    dest: "certs/ca/quayCA.crt"
    src: "/etc/quay-install/quay-rootCA/rootCA.pem"
  delegate_to: localhost
  when: copy_quay_ca.changed

- name: Update local os ca certs
  shell: update_ca_certificates
  become: yes
  when: copy_quay_ca.changed

- name: Mirror install images
  shell: 
    chdir: "mirrored-images/{{ sno_release }}/install"
    cmd: oc image mirror -a  ../../../auth/pull-secret-airgapped.txt --from-dir=$(pwd)/ "file://openshift/release:{{ sno_release }}*" {{ sno_local_registry }}/{{ sno_local_release }}
  register: mirror_install_images

- name: Mirror OLM images
  shell: 
    chdir: mirrored-images/{{ sno_release }}/olm
    cmd: oc adm catalog mirror  "file://local/index/olm-mirror/redhat-operator-index:v{{ sno_version }}" {{ sno_local_registry }}/olm-mirror -a  ../../../auth/pull-secret-airgapped.txt

- name: Generate manifest
  shell: 
    chdir: mirrored-images/{{ sno_release }}/olm 
    cmd: oc adm catalog mirror  {{ sno_local_registry }}/olm-mirror/local-index-olm-mirror-redhat-operator-index:v{{ sno_version }} {{ sno_local_registry }}/olm-mirror -a  ../../../auth/pull-secret-airgapped.txt --manifests-only
  when: registry_run_status.rc == 1


 

    