---
- name: Look for kubeconfig file
  stat:
    path: auth/{{ sno_cluster_name }}-kubeconfig
  register: kubeconfig_file

- name: Verify that kubeconfig file exists
  assert:
    that:  kubeconfig_file.stat.exists
    fail_msg: "kubeconfig  file auth/{{ sno_cluster_name }}-kubeconfig is required for this playbook"
    success_msg: "Required kubeconfig file exists"

- name: Get kubeadmin credentials
  set_fact:
    kubeadmin_creds: "{{ lookup('file','auth/' + sno_cluster_name + '-kubeadmin.json') | from_json }}"
    cluster_api_url: "https://api.{{ sno_cluster_name }}.{{ sno_domain_name }}:6443"

- name: Login to cluster
  shell: oc login --insecure-skip-tls-verify=true --server={{ cluster_api_url }} -u {{ kubeadmin_creds.username }} -p {{ kubeadmin_creds.password }} > token_fetched.log
  args:
    chdir: auth
    creates: token_fetched.log

- name: Get token
  shell: oc whoami -t 
  register: user_token
  when: not user_token is defined

- name: Save token
  set_fact:
    user_token_var: "{{ user_token.stdout }}"
  when: not user_token_var is defined

- name: Setup for disconnected install
  block:
    - name: Get manifest dir
      find: 
        file_type: directory
        paths: "mirrored-images/{{ sno_release }}/olm"
        patterns: "manifests-local-index-*"
        recurse: no
      register: manifest_dirs

    - name: Save as var
      set_fact:
        manifest_dir: "{{ manifest_dirs.files[0].path }}"

    - name: Gen Catalog source
      template:
        src: odflvm-catalog-source.yml.j2
        dest: "k8s/{{ sno_version }}/odmlvm-catalog-source.yml"

    - name: Add Catalog source
      k8s:
        state: present
        src: "k8s/{{ sno_version }}/odmlvm-catalog-source.yml"
        validate_certs: no
        kubeconfig: "auth/{{ sno_cluster_name }}-kubeconfig"

    - name: Add image content source policy
      k8s:
        state: present
        src: "{{ manifest_dir }}/imageContentSourcePolicy.yaml"
        validate_certs: no
        kubeconfig: "auth/{{ sno_cluster_name }}-kubeconfig"

    - name: Wait up to  3 mins for Catalog Source to be ready
      uri: 
        url: "{{ cluster_api_url }}/apis/operators.coreos.com/v1alpha1/namespaces/openshift-marketplace/catalogsources/local-index-olm-mirror-redhat-operator-index"
        method: GET
        return_content: yes
        status_code: 200
        body_format: json
        headers:
          Authorization: "Bearer {{ user_token_var }}"
      register: airgapped_cs
  #    until: airgapped_cs.api_found and airgapped_cs.resources[0].status.connectionState.lastObservedState == "READY"
  #    delay: 10
  #    retries: 18
  #    ignore_errors: yes

    - name: debug
      debug:
        var: airgapped_cs.json

    # - name: Wait up to  3 mins for Catalog Source to be ready
    #   k8s_info: 
    #     api_version: "operators.coreos.com/v1alpha1"
    #     kind: CatalogSource
    #     name: local-index-olm-mirror-redhat-operator-index
    #     namespace: openshift-marketplace
    #     kubeconfig: "auth/{{ sno_cluster_name }}-kubeconfig"
    #   register: airgapped_cs
    #   until: airgapped_cs.api_found and airgapped_cs.resources[0].status.connectionState.lastObservedState == "READY"
    #   delay: 10
    #   retries: 18
    #   ignore_errors: yes

  when:  sno_install_is_airgapped 

- name: "Install ODF LVM Operator"
  k8s:
    state: present
    src: "{{ item }}"
    validate_certs: no
    kubeconfig: "auth/{{ sno_cluster_name }}-kubeconfig"
  with_items:
    - "k8s/{{ sno_version }}/odflvm-namespace.yml"
    - "k8s/{{ sno_version }}/odflvm-operatorgroup.yml"
    - "k8s/{{ sno_version }}/odflvm-subscription.yml"

- name: Wait up to 3 mins for Subscription to be avail
  k8s_info: 
    api_version: "operators.coreos.com/v1alpha1"
    kind: Subscription
    name:  odf-lvm-operator
    namespace: openshift-storage
    validate_certs: no
    kubeconfig: "auth/{{ sno_cluster_name }}-kubeconfig"
  register: odf_lvm_subscription
  until: odf_lvm_subscription.api_found 
  delay: 10
  retries: 18

- name: Wait up to 3 min for LVM Operator CSV to be avail
  k8s_info:
    api_version: "operators.coreos.com/v1alpha1"
    kind: ClusterServiceVersion
    name: "{{ odf_lvm_subscription.resources[0].status.currentCSV }}"
    namespace: openshift-storage
    validate_certs: no
    kubeconfig: "auth/{{ sno_cluster_name }}-kubeconfig"
  register: odf_lvm_csv
  until: odf_lvm_csv.api_found and odf_lvm_csv.resources[0].status is defined and odf_lvm_csv.resources[0].status.phase == "Succeeded"
  retries: 18
  delay: 10

- name: "Create  LVMCluster instance"
  k8s:
    state: present
    src: "k8s/{{ sno_version }}/odflvm-lvmcluster.yml"
    validate_certs: no
    kubeconfig: "auth/{{ sno_cluster_name }}-kubeconfig"
  
- name: Wait up to 5 min for LVM Cluster to be avail
  k8s_info:
    api_version: "lvm.topolvm.io/v1alpha1"
    kind: LVMCluster
    name:  lvmcluster-sno
    namespace: openshift-storage
    validate_certs: no
    kubeconfig: "auth/{{ sno_cluster_name }}-kubeconfig"
  register: odf_lvm_cluster
  until: odf_lvm_cluster.api_found  and odf_lvm_cluster.resources[0].status.deviceClassStatuses is defined and odf_lvm_cluster.resources[0].status.deviceClassStatuses[0].nodeStatus[0].status == "Ready"
  retries: 30
  delay: 10

- name: Make ODF LVM storage class the default
  shell: |
    oc patch storageclass odf-lvm-vg1 -p '{"metadata": {"annotations":{"storageclass.kubernetes.io/is-default-class":"true"}}}'
  environment:
    KUBECONFIG: "auth/{{ sno_cluster_name }}-kubeconfig"


 
- name: Ending message
  debug:
    msg: "ODF LVM successfully installed and configured"
