{{ sno_ip_address }}	api.{{ sno_cluster_name }}.{{ sno_domain_name }}
{{ sno_ip_address }}	oauth-openshift.apps.{{ sno_cluster_name }}.{{ sno_domain_name }}
{{ sno_ip_address }}	console-openshift-console.apps.{{ sno_cluster_name }}.{{ sno_domain_name }}
{{ sno_ip_address }}	grafana-openshift-monitoring.apps.{{ sno_cluster_name }}.{{ sno_domain_name }}
{{ sno_ip_address }}	thanos-querier-openshift-monitoring.apps.{{ sno_cluster_name }}.{{ sno_domain_name }}
{{ sno_ip_address }}	prometheus-k8s-openshift-monitoring.apps.{{ sno_cluster_name }}.{{ sno_domain_name }}
{{ sno_ip_address }}	alertmanager-main-openshift-monitoring.apps.{{ sno_cluster_name }}.{{ sno_domain_name }}
{{ sno_ip_address }}	prometheus-k8s-openshift-monitoring.apps.{{ sno_cluster_name }}.{{ sno_domain_name }}
{{ sno_ip_address }}	sno.{{ sno_cluster_name }}.{{ sno_domain_name }}
