---
- hosts: localhost
  gather_facts: true

  vars:
    - sno_release: "{{ sno_version }}.{{ sno_minor_version }}"
    - sno_local_release: "{{ 'ocp/openshift' +  sno_release | replace('.','') }}"
    - sno_util_hostname: "{{ sno_util_host_prefix }}.{{ sno_domain_name }}"
    
  collections:
    - community.kubernetes

  roles:
    - role: validate_parms
      when: vars_validated is not defined
    - role: setup_odf_lvm


  post_tasks:
    - name: Success message
      debug:
        msg: "ODF LVM successfully configured !"

   