---
- name: Start install
  hosts: localhost
  tasks:
    - name: Starting message
      debug:
        msg: "Starting end to end install of OpenShift single node cluster on VMware ..."

- name: Start SNO install
  import_playbook: start_sno_install.yml

- name: Complete SNO install
  import_playbook: complete_sno_install.yml

- name: Post install
  import_playbook: post_install.yml

- name: End to end install of SNO on VMWare complete
  hosts: localhost
  tasks:
    - name: Ending message
      debug:
        msg: "End to end install of OpenShift single node cluster on VMware complete !"
