---
- hosts: localhost
  gather_facts: true
  vars:
    - sno_release: "{{ sno_version }}.{{ sno_minor_version }}"
    - sno_util_hostname: "{{ sno_util_host_prefix }}.{{ sno_domain_name }}"
    - sno_infraenv_name: "{{ sno_cluster_name }}-infraenv"
    - sno_vm_name: "{{ sno_cluster_name }}-vm"
    - sno_hostname: "{{ sno_host_prefix }}.{{ sno_cluster_name }}.{{ sno_domain_name }}"
    
  roles:
    - role: validate_parms
      when: vars_validated is not defined
    - role: teardown_sno_cluster
    